<!-- views/description.ejs -->
<!doctype html>
<html>
<head>
    <title>Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!--<style>
        body        { padding-top:80px; }
    </style>
    -->
    <script src="/scripts/NavigationBar.js"></script>
    <script src="/scripts/getEventsByAjax.js"></script>
    <script src="/scripts/EventController.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" id="navBar">
        <script>
            fetchNavigationBar(<%=user_id%>,"menuEvents")
        </script>
    </nav>
    <div class="col-sm-12">

        <h1><span class="fa fa-globe"></span> Events</h1>

        <% if (message.length > 0 ) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="container-fluent" id="eventContainer">
            <% for (var i=0;i<events.length;i++) { %>
            <div class="container-fluent" id="eventElement<%=events[i].event_id%>">
                <div class="panel panel-success">
                    <div class="panel-heading"><%=events[i].name%></div>
                    <div class="panel-body"><%=events[i].description%></div>
                    <!--<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#event<%=events[i].event_id%>">Open</button>-->
                    <!--<button type="button" class="btn btn-warning btn-sm">Edit</button>-->
                    <!--<form class="form-inline" role="form" action="/delete" method="post" id="myForm">-->
                    <!--<button type="submit" class="btn btn-warning btn-sm">Delete</button>-->
                    <!--</form>-->
                    <!--<button type="button" class="btn btn-warning btn-sm">Delete</button>-->
                    <div class="modal fade" id="event<%=events[i].event_id%>" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" align="center"><%=events[i].name%></h4>
                                </div>
                                <div class="modal-body">
                                    <p>Description: <%=events[i].description%></p>
                                    <p>Place: <%=events[i].place%></p>
                                    <p>Date: <%=events[i].date%></p>
                                    <p>Starting: <%=events[i].starting%></p>
                                    <p>Ending: <%=events[i].ending%></p>
                                    <p>Geo: <%=events[i].geo%></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#event<%=events[i].event_id%>">Open</button>
                <button type="button" class="btn btn-warning btn-sm">Edit</button>
                <button type="button" class="btn btn-warning btn-sm" onclick="deleteEvent(<%=events[i].event_id%>)">Delete</button>
                <hr>
            </div>
            <% } %>
        </div>
        <script>var getEventsByAjaxClicks=1</script>
        <button type="button" class="btn btn-default btn-block fa fa-plus" onclick="getEventsByAjax(<%=user_id%>)"></button>
        <!--<form action="/description" method="get">
            <button type="submit" class="btn btn-warning btn-lg">Separate edit</button>
        </form>-->
        <hr>


        <p>Need an account? <a href="/join">Join</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
</div>
</body>
</html>